/* スマホ横画面用 */
@media screen and (max-width: 480px) {
  .container{padding:0}
  div[class^="col-"] {padding:0}
  .row {margin:0;}
}
/* スマホ縦画面用 */
@media screen and (max-width: 320px) {
  .container{padding:0}
  div[class^="col-"] {padding:0}
  .row {margin:0;}
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
