<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="${authUri}">Twitterログイン</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <li class="active"><a href="#">イイネ爆</a></li>
        <li><a href="/watch">監視</a></li>
        <li><a href="/twicas">ツイキャス</a></li>
        </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container theme-showcase">

    <div th:if="${isError}">
        <div class="page-header">
            <h1>Alert</h1>
        </div>
        <div class="alert alert-danger" role="alert">
            <p th:text="${message}"></p>
        </div>
    </div>

    <div class="page-header"><h1>ユーザ情報</h1></div>
    <table class="table">
        <thead><tr><th>ID</th><th>ユーザ名</th></tr></thead>
        <tbody><tr><td th:text="${user_id}"></td><td th:text="${screen_name}"></td></tr></tbody>
    </table>

    <div class="page-header"><h1>イイネ爆</h1></div>
    <form action="/fav" method="post" >
        <table class="table">
            <thead><tr><th>項目</th><th>設定</tr></thead>
            <tbody>
                <tr><td>イイネ対象ユーザ名</td><td><input type="text" name="f_name" th:value="${f_name}" /></td></tr>
                <tr><td>イイネしたい件数</td><td><input type="text" name="fav_count" th:value="${fav_count}" /></td></tr>
            </tbody>
        </table>
        <hr />
        <input type="submit" name="fav" value="まとめてイイネ" />
    </form>

    <div class="page-header"><h1>イイネ爆の被害にあったツイート</h1></div>
    <table class="table">
        <thead><tr><th>内容</th></tr></thead>
        <tbody><tr th:each="tweet:${tweets}"><td th:text="${tweet}"></td></tr></tbody>
    </table>
</div><!-- /.container -->
</body>
</html>
