<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ー</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <li><a href="/" >イイネ爆</a></li>
        <li class="active"><a href="#">監視</a></li>
        <li><a href="/twicas">ツイキャス</a></li>
        </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container theme-showcase">
    <div th:if="${form.message}">
        <div class="page-header">
            <h1>Alert</h1>
        </div>
        <div class="alert alert-danger" role="alert">
            <p th:text="${form.message}"></p>
        </div>
    </div>
    <div class="page-header"><h1>ユーザ情報</h1></div>
    <table class="table">
        <thead><tr><th>ID</th><th>ユーザ名</th></tr></thead>
        <tbody><tr><td th:text="${auth.userId}"></td><td th:text="${auth.userName}"></td></tr></tbody>
    </table>

    <div class="page-header"><h1>監視</h1></div>
    <form action="/gettweets" method="post" >
        <table class="table">
            <thead><tr><th>項目</th><th>設定</tr></thead>
            <tbody>
                <tr><td>監視対象ユーザ名</td><td><input type="text" name="toUserName" th:value="${form.toUserName}" /></td></tr>
                <tr><td>監視したい件数</td><td><input type="text" name="favoriteCount" th:value="${form.favoriteCount}" /></td></tr>
            </tbody>
        </table>
        <hr />
        <input type="submit" name="gettweets" value="ツイート取得" />
    </form>
    



    <div class="page-header"><h1>ツイート一覧</h1></div>
    <table class="table">
        <thead><tr><th>ID</th><th>イイネ済</th><th>内容</th></tr></thead>
        <tbody>
            <tr th:each="tweet:${form.tweets}">
                <td th:text="${tweet.id}"></td>
                <td>
                    <div th:if="${tweet.favorited}">◎</div>
                    <div th:unless="${tweet.favorited}">
                        <form action="/singlefav" method="post" class="singlefav">
                            <input type="hidden" name="favoriteId" th:value="${tweet.id}" />
                            <input type="submit" name="singlefav" value="今すぐイイネ" />
                        </form>
                    </div>
                </td>
            </tr>
        </tbody>
</div><!-- /.container -->
                        <form action="/singlefav" method="post" class="singlefav">
                            <input type="submit" name="singlefav" value="今すぐイイネ" />
                            <input type="hidden" name="favoriteId" value="1" />
                        </form>
                                                <form action="/singlefav" method="post" class="singlefav">
                            <input type="hidden" name="favoriteId" value="2" />
                            <input type="submit" name="singlefav" value="今すぐイイネ" />
                        </form>                        <form action="/singlefav" method="post" class="singlefav">
                            <input type="hidden" name="favoriteId" value="3" />
                            <input type="submit" name="singlefav" value="今すぐイイネ" />
                        </form>
<script>
(function() {
    $('form.singlefav').submit(function(event){
        event.preventDefault();
        var f = $(this);
        $.ajax({
            url: f.prop('action'),
            type: f.prop('type'),
            data: f.serialize(),
            timeout: 10000,
            dataType: 'text'
        })
        .done(function( data ) {
        // 通信が成功したときの処理
            alert(data);
        })
        .fail(function( data ) {
        // 通信が失敗したときの処理
            alert(data);
        })
        .always(function( data ) {
        // 通信が完了したとき
        });
    });    
})();
</script>
</body>
</html>
